---
http_interactions:
- request:
    method: get
    uri: http://api.postcodes.io/postcodes/ox14aj
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Gnu:
      - Michael J Blanchard
      Etag:
      - W/"363-twOMvrrtoiohhO7xFnmtEqq0p9Y"
    body:
      encoding: ASCII-8BIT
      string: '{"status":200,"result":{"postcode":"OX1 4AJ","quality":1,"eastings":451565,"northings":206323,"country":"England","nhs_ha":"South
        Central","longitude":-1.254396,"latitude":51.753234,"european_electoral_region":"South
        East","primary_care_trust":"Oxfordshire","region":"South East","lsoa":"Oxford
        008A","msoa":"Oxford 008","incode":"4AJ","outcode":"OX1","parliamentary_constituency":"Oxford
        East","admin_district":"Oxford","parish":"Oxford, unparished area","admin_county":"Oxfordshire","admin_ward":"Carfax
        & Jericho","ced":"University Parks","ccg":"NHS Oxfordshire","nuts":"Oxfordshire
        CC","codes":{"admin_district":"E07000178","admin_county":"E10000025","admin_ward":"E05013098","parish":"E43000128","parliamentary_constituency":"E14000873","ccg":"E38000136","ccg_id":"10Q","ced":"E58001274","nuts":"TLJ14","lsoa":"E01028521","msoa":"E02005947","lau2":"E07000178"}}}'
  recorded_at: Sun, 30 Jan 2022 13:42:23 GMT
recorded_with: VCR 6.0.0
